<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Target Home{% endblock %}</title>
        <!-- <meta name="description" content="GARO is a real-estate template"> -->
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="{% static 'iniciopaginas/assets/img/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/fontello.css' %}">
        <link href="{% static 'iniciopaginas/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'iniciopaginas/assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'iniciopaginas/assets/css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/bootstrap-select.min.css' %}"> 
        <!-- <link rel="stylesheet" href="{% static 'iniciopaginas/bootstrap/css/bootstrap.min.css' %}"> -->
        <link rel="stylesheet" href="{% static 'iniciopaginas/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/owl.carousel.css' %}">  
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'iniciopaginas/assets/css/responsive.css' %}">
    </head>
    <body>
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'iniciopaginas/assets/img/logo.png' %}" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        <a href=""><img src="{% static 'iniciopaginas/assets/img/social_big/facebook.png' %}" ></a>
                        <a href=""><img src="{% static 'iniciopaginas/assets/img/social_big/instagram.png' %}" ></a>
                    </div>                    
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.2s">
                            <a class="" href="properties.html">INICIO</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.3s">
                            <a class="" href="property.html">HABITACIONES</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.2s">
                            <a href="contact.html">MINIDEPA</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.3s">
                            <a href="contact.html">RESERVAR</a>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->

        {% block content %}
        {% endblock %}

        <script src="{% static 'iniciopaginas/assets/js/modernizr-2.6.2.min.js' %}"></script>

        <script src="{% static 'iniciopaginas/assets/js/jquery-1.10.2.min.js' %}"></script> 
        <script src="{% static 'iniciopaginas/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'iniciopaginas/assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'iniciopaginas/assets/js/bootstrap-hover-dropdown.js' %}"></script>

        <script src="{% static 'iniciopaginas/assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'iniciopaginas/assets/js/jquery.easypiechart.min.js' %}"></script>

        <script src="{% static 'iniciopaginas/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'iniciopaginas/assets/js/wow.js' %}"></script>

        <script src="{% static 'iniciopaginas/assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'iniciopaginas/assets/js/price-range.js' %}"></script>

        <script src="{% static 'iniciopaginas/assets/js/main.js' %}"></script>
    </body>
</html>